body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  box-sizing: border-box;
  color: #fff;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: 1rem; */
}
h1 {
  text-align: center;
}
.cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* margin: 0 .5rem; */
  min-height: 350px;
  padding: 5rem 0;
  animation: slide 3s infinite;
}
@keyframes slide {
  0% {
    filter: brightness(0);
  }

  50% {
    filter: brightness(1);
  }

  100% {
    filter: brightness(0);
  }
}
.cards {
  display: flex;
  gap: 1rem;
  transform: translateY(-10rem);
  padding: 2rem;
  
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 8px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 2rem;
  color: white;
  overflow: hidden;
}
.card > h4 {
  margin: 0;
  text-align: center;
}

.card > button {
  background-color: #ab0a10;
  border: none;
  height: 2.2rem;
  width: 6rem;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  margin: 1rem;
  font: inherit;
}
.lCard {
  border-radius: 8px;
  cursor: pointer;
  max-width: 11.5rem;
  padding: 0.5rem;
  border: #ab0a10 2px solid;
}

.lCard > img {
  max-height: 17rem;
}
.lists {
  transform: translateY(-8rem);
}
.List {
  padding: 2rem;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.List > img {
  width: 5%;
  
}
.category{
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}
.category>h1{
  margin-left:2rem ;
}
.more{ 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.5;
}
.more>img{
  width: 5rem;
}
.more:hover{
  opacity: 1;
}

.lCard:hover {
  transform: scale(1.1);
}
.PList {
  margin: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2.8rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.PCard {
  text-align: center;
  cursor: pointer;
  border: #ab0a10 2px solid;
  border-radius: 8px;
  padding: .5rem;
}
.PCard:hover {
  transform: scale(1.15);
}
.PCard img {
  border-radius: 8px;
  
  max-width: 17rem;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.model {
  border-radius: 8px 8px 0 0;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1.5rem;
  position: relative;
  max-width: 800px;
  width: 80%;
  height: 40%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  animation: translate 1.5s ease-out; /* Animation */
}
.model > img {
  max-height: 100%;
  border-radius: 8px;
}

.movieInfo {
  animation: translate 1.5s ease-out; 

  background:linear-gradient(rgba(3, 7, 56, 1),rgba(220, 38, 38,.5)) ;
  /* background-color: rgba(3, 7, 56, 0.73); */
  width: 80%;
  padding: 1.5rem;
  border-radius:0 0 8px 8px;

  max-width: 800px;
  text-align: center;
}


.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
@keyframes translate {
  from {
    transform: translateY(-15rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.rate {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width:700px) {
  .cards{
    padding: 1rem;
    gap: .5rem;
  }
  .card{
    max-height: 7rem;
  }
  .card>button{
    height: 1.5rem;
    width: 3rem;   
    margin: .5rem;
  }
  .card>h4{
    font-size: x-small;
  }
  .cards{
    transform: translateY(-7rem);
  }
}