body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  box-sizing: border-box;
  color: #fff;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: 1rem; */
}
header{
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  color: #ab0a10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgba(171, 10, 16, 1); */
  background-color: rgba(0, 0, 0, 0.5);
}
h1{
  color: #ab0a10;
}
.pointer{
  cursor: pointer;
}
.flex{
  max-width: min-content;
  margin: 0 1rem;
  display: flex;
  gap: .75rem;
  align-items: center;
}
.flex button{
  cursor: pointer;
  height: 3rem;
  width: max-content;
  border: none;
  color: #ab0a10;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0);
}
.flex button:hover{
  background-color: rgba(220, 38, 38,.5);
}
header img{
  width:  60%;
}
h1 {
  text-align: center;
}
.cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* margin: 0 .5rem; */
  min-height: 350px;
  padding: 7rem 0;
  animation: slide 3s infinite;
}
@keyframes slide {
  0% {
    filter: brightness(0);
  }

  50% {
    filter: brightness(1);
  }

  100% {
    filter: brightness(0);
  }
}
.cards {
  display: flex;
  gap: 1rem;
  transform: translateY(-10rem);
  padding: 2rem;
  
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 2rem;
  color: white;
  overflow: hidden;
}


.card > button {
  text-align: center;
  background-color: #ab0a10;
  border: none;
  height: 2.2rem;
  width: 4rem;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  margin: 1rem;
  font: inherit;
}
.lCard {
  border-radius: 8px;
  cursor: pointer;
  max-width: 11.5rem;
  padding: 0.5rem;
  border: #ab0a10 2px solid;
}

.lCard > img {
  max-height: 17rem;
}
.lists {
  transform: translateY(-8rem);
}
.List {
  padding: 2rem;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.List > img {
  width: 5%;
  
}
.category{
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}
.category>h1{
  margin-left:2rem ;
}
.more{ 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.5;
}
.more>img{
  width: 5rem;
}
.more:hover{
  opacity: 1;
}

.lCard:hover {
  transform: scale(1.1);
}
.page{
  margin: 4rem 0;
}
.PList {
  margin: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2.8rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.PCard {
  text-align: center;
  cursor: pointer;
  border: #ab0a10 2px solid;
  border-radius: 8px;
  padding: .5rem;
}
.PCard:hover {
  transform: scale(1.15);
}
.PCard img {
  border-radius: 8px;
  
  max-width: 17rem;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.model {
  border-radius: 8px 8px 0 0;

  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 1.5rem;
  position: relative;
  max-width: 900px;
  width: 80%;
  height: 40%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  animation: translate 1.5s ease-out; /* Animation */
}
.model > img {
  max-height: 100%;
  border-radius: 8px;

}

.movieInfo {
  animation: translate 1.5s ease-out; 
  background:linear-gradient(rgba(3, 7, 56, 1),rgba(220, 38, 38,.5)) ;
  /* background-color: rgba(3, 7, 56, 0.73); */
  width: 80%;
  padding: 1.5rem;
  border-radius:0 0 8px 8px;
  z-index: 1001;
  max-width: 900px;
  text-align: center;
}
.movieInfo>button{
  cursor: pointer;
   text-align: center;
  background-color: #ab0a10;
  border: none;
  height: 2.2rem;
  width: 4rem;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  font-size: large;
}


.modal-close {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.video-close {
  
  position: absolute;
  top: 10px;
  right: 10px;
  background-color:rgba(0, 0, 0, 0.5);
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1006;
  color: #fff;
}
.video{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:65% ;
  max-width: 900px;

  z-index: 1005;
}
.video>iframe{
height:28rem ;  
}
@keyframes translate {
  from {
    transform: translateY(-15rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.rate {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* HTML: <div class="loader"></div> */
.loader {
margin-top: 10rem;
  align-self: center;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #ab0a10;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}
@keyframes l20-1{
   0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
   12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
   25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
   50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
   100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{ 
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}
@media (max-width:715px) {
  .cards{
    padding: 1rem;
    gap: .5rem;
  }
  .PCard, .PCard>img{
    width: 10.5rem;
  }
  .card{
    max-height: 7rem;
  }
  .card>button{
    height: 1.5rem;
    width: 3rem;     
    margin: .5rem;
  }
 .model > img {
  max-height: 80%;
  border-radius: 8px;

}

.video>iframe{
height:12rem ;  
}
  .cards{
    transform: translateY(-7rem);
  }
  header{
    font-size: .8rem;
  }
  .flex button{
    font-size: .7rem;
  }
  .model{
    max-height: 13rem;
  }
}
@media (max-width:512px) {
  
  .card{
    max-height: 3rem;
    max-width: 2rem;
  }
  .PCard, .PCard>img{
    width: 8rem;
  }
  .card>button{
    height: 1rem;
    width: 2rem;   
    margin: .5rem;
    font-size: x-small;
  }
  .category{
    align-items: center;
  }
  .cards{
    gap: .25rem;
    padding: 0;
    /* transform: translateY(00); */
    flex-wrap: wrap;
    justify-content: center;
  }
 .model > img {
  max-height: 70%;
  border-radius: 8px;

} 
.lCard>img,.lCard{
  max-width: 10rem;
}

}
@media (max-width:438px) {
 .PCard, .PCard>img{
    width: 6rem;
  }
  .lCard>img,.lCard{
  max-width: 6rem;
} 

  .card{
    max-height: 3rem;
    max-width: 2rem;
  }
  .card>button{
    text-align: center;
    height: 1rem;
    width: 2rem;   
    /* margin: .5rem; */
    font-size: x-small;
  }
  .model > img {
  max-height: 60%;
  border-radius: 8px;

}
  .cards{
    gap: .15rem;
    padding: 0.15rem;
    /* transform: translateY(00); */
    flex-wrap: wrap;
    justify-content: center;
  }
  .category{
    padding: 1rem;

  }
  .category>h1{
   
    font-size: 1.35rem;
  }
  
}